@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a very simple app that just accepts chat messages and displays them in order.</p>
    <a href="/Chat/Show">Check the chat!</a>
</div>
